venv
.direnv
.idea
__pycache__
output
*.pyc
.ipynb_checkpoints
*.pid
/cache
/package-lock.json
/extra/radar.json
node_modules
Garden/.obsidian/workspace.json
Garden/.obsidian/workspace/*
Garden/.obsidian/plugins/*
.hypothesis
.mypy_cache
.pytest_cache
dist
.cache
