venv
.direnv
.idea
__pycache__
output
*.pyc
.ipynb_checkpoints
*.pid
/cache
/package-lock.json
/extra/radar.json
node_modules
Garden/.obsidian/plugins/novel-word-count/data.json
Garden/.obsidian/plugins/obsidian-daily-stats/data.json
Garden/.obsidian/workspace.json
.hypothesis
.mypy_cache
.pytest_cache
dist
.cache
