$text-colour: #1F192F;
$header-colour: #59677e;
$link-colour: #3395AB;
$highlight-colour: #bfcfe7;
$not_there: #E9EBF5;

html, html:root, body {
  //background-color: #F0F7DA;
  color: $text-colour;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  background: url('/theme/img/tree.png') no-repeat bottom left;
  background-attachment: fixed;
}

body > header {
  margin: 0;
  padding: 0;
  text-align: center;
  color: $header-colour;
  height: 150px;
  font-family: 'Modak', cursive;
  h1 {
    text-shadow: 3px 3px 2px $highlight-colour;
    font-size: 400%;
  }
  a {
    color: $header-colour;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }
}

header h1 {
  /*border-bottom: none;*/
  font-family: 'Modak', cursive;
}

nav {
  position: absolute;
  top: 0px;
  right: 2em;
  ul li {
    display: inline-block;
    padding: 1em;
    a {
      &:hover {
        color: $header-colour;
      }
    }
  }
}

h1 {
  /*border: none;*/
}

a {
  color: $link-colour;
}

ol#post-list {
  list-style: none;
}

div#main {
  margin: 0 auto;
  max-width: 960px;
  section#content {
    padding: 0 3em;
    width: 75%;
    float: left;
    header {
      text-align: center;
    }
    ol {
      padding: 0;
      article {
        margin-bottom: 7em;
      }
    }
    div.entry-content {
      ol {
        margin-left: 2em;
      }
    }
    div.prompt {
        display: none;
    }
    .highlight {
        .k, .nb, .kn {
            color: $link-colour;
        }
        .c1 {
            color: $header-colour;
        }
    }
  }
  aside {
    background-color: $not_there;
    /*border: 1px solid black;*/
    width: 25%;
    float: right;
    padding: 0 0.8em;
    min-height: 400px;
    text-align: left;
    img {
      float: left;
      max-width: 40%;
      margin-right: 0.5em;
      margin-bottom: 0.1em;
    }
    h2 {
      text-align: center;
    }
  }
}

footer {
  font-size: 80%;
}

