$text-colour: #1F192F;
$header-colour: #59677e;
$link-colour: #3395AB;
$highlight-colour: #bfcfe7;
$not_there: #E9EBF5;

html, html:root, body {
  color: $text-colour;
  padding: 0;
  //font-family: 'Roboto', sans-serif;
}

html {
  background: url('/theme/img/tree.png') no-repeat bottom left;
  background-attachment: fixed;
}

body > header {
  color: $header-colour;
  //font-family: 'Modak', cursive;

  h1 {
    text-align: center;
    margin-bottom: 1em;
    a {
      text-decoration: none;
      color: $header-colour;
      &:visited {
        color: $header-colour;
      }
      &:hover {
        color: $text-colour;
      }
    }
  }
  
  nav  {
    text-align: center;
    
    border: 1px solid $header-colour;
    border-left: none;
    border-right: none;

    //font-size: calc(1.5rem + .00625*(100vw - 20rem));
    
    a {
      color: $link-colour;
      text-decoration: none;

      &:visited {
        color: $link-colour;
      }
      &:hover {
        color: $text-colour;
      }
    }
  }


  aside {
    img {
      margin-bottom: 1em;
      @media (min-width: 800px) {
        float: left;
        //      margin: 1em;
        margin-right: 2em;
      }
    }
    border-bottom: 1px solid $header-colour;
    padding: 1em;
    padding-top: 0;
    }
  
}


ol#post-list {
  list-style: none;
}

div#main {
  margin: 0 auto;
  max-width: 960px;
  section#content {
    header {
      text-align: center;
    }
    ol {
      padding: 0;
      article {
        margin-bottom: 7em;
      }
    }
    div.entry-content {
      ol {
        margin-left: 2em;
      }
    }
    div.prompt {
      display: none;
    }
    .highlight {
      .k, .nb, .kn {
        color: $link-colour;
      }
      .c1 {
        color: $header-colour;
      }
    }
    aside {
      float: none;
      width: 100%;
      min-height: 0px;
      padding: 0.5em 0.5em;
    }
  }
}

footer {
  font-size: 80%;
}

